Package: com.muirey03.hive
Name: Hive
Depends: mobilesubstrate, preferenceloader, com.creaturesurvive.libcscolorpicker, ws.hbang.common (>= 1.11)
Version: 1.1
Architecture: iphoneos-arm
Description: Redesigned passcode screen
Maintainer: iM3nace
Author: iM3nace & Muirey03
Section: Tweaks
